@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins:wght@600;700&display=swap');

:root{
    --azulOscuro: #164a98;
    --azulClaro: #006AEA;
    --celeste: #9CC8FF;
    --grisClaro: #d2d2d2;
    --grisOscuro: #7c7b75;
    --amarillo: #fff200;
    --mostaza: #ffc63e;
    --celesteOscuro: #2b93d1;
    --naranja: #f05323;
    --verdeOscuro: #00734a;
    --verdeClaro: #4aa147;
    --rojo: #d2232a;
    --turquesa: #00928d;
    --rosa: #c81f66;
    --caqui: #C7AC19;
    --morado: #712c86;
}

body{
    font-family: 'Inter', sans-serif;
}

.topbar{
    background-color: var(--azulOscuro);
    height: 95px;
    border-bottom: 5px solid var(--grisOscuro);
}

img{
    height: 300px;
    width: 450px;
}

.main-screen{
    background-color: var(--grisOscuro);
}

.btn-inscripcion{
    background-color: var(--mostaza);
    width: 300px;
    border: transparent;
    border-radius: 8px;
    padding: 15px;
    font-weight: bolder;
    transition: 0.3s;
}

.btn-inscripcion:hover{
    background-color: var(--mostaza);
    box-shadow: 0px 4px 12px rgba(0,0,0,08);
}